<mat-accordion >
    <mat-expansion-panel *ngFor = "let main of main$">
      <mat-expansion-panel-header>
        <mat-panel-title  [(ngModel)] = "title"  name = "title"   >
          {{main.title}}      
        </mat-panel-title>
      </mat-expansion-panel-header> 
      <div   [(ngModel)] = "body"  name = "body">
       {{main.body}}   <button mat-raised-button color="primary" (click)="SavedPost(main.title,main.body)">  {{saveButton}}</button>
      </div>
     

    </mat-expansion-panel>
  </mat-accordion>

 <!--
    [(ngModel)] = "title"  name = "title" 
     [(ngModel)] = "body"  name = "body"


      <p>comments</p>
      <br>
      <span *ngFor = "let comment of Comments$ ">
          <span *ngIf = "comment.postId==1">
           body: {{comment.body}}
          </span>
          </span>
   //--> 