<div class="example-button-row">
  </div>
  <p *ngIf="!(articles$ | async)">loading articles...</p>
  <mat-accordion >
      <mat-expansion-panel *ngFor = "let articel of  articles$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div mat-card-avatar *ngIf = "articel.image"> 
              <img [src] = "articel.image"> 
            </div>
            category {{articel.category}} 
          </mat-panel-title>
        </mat-expansion-panel-header> 
        {{articel.body}} 
        <button mat-raised-button 
        color="primary"
        (click) = deleteArticle(articel.id)>
  Delete
</button> 
      </mat-expansion-panel>
    </mat-accordion>
  
