<span *ngIf = "(authService.user | async)?.uid">



<p *ngIf="!(posts$ | async)">loading posts...</p>
<mat-accordion >
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
          {{post.body}}
        <button mat-raised-button 
                color="primary"
                (click) = deleteGeneral(post.id)>
          Delete
        </button> 
        <p></p>
        <button mat-button (click) = "addLikes(post.id,post.like)">LIKE {{post.like}}</button>
    </mat-expansion-panel>
  </mat-accordion>

  </span>

  